@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap')
layer(base);

@import 'tailwindcss';

@theme {
  --font-primary: Handjet, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility nav-link {
  @apply relative text-white cursor-pointer text-[23px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-red-800 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-200 after:origin-center hidden;
}

@utility nav-link-mobile {
  @apply relative mb-[2rem] text-white cursor-pointer text-[30px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-red-800 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-200 after:origin-center;
}

@utility heading {
  @apply text-center text-red-800 text-[28px] sm:text-[33px] md:text-[45px] uppercase;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #7e7e7e;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b30303;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #860101;
  }