@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet')
layer(base);

@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility nav-link {
  @apply relative text-white hover:text-[#e27231] font-semibold cursor-pointer text-[1.2rem] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#e27231] after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-200 after:origin-center hidden;
}

@utility nav-link-mobile {
  @apply relative mb-[2rem] text-white cursor-pointer text-[1.3rem] font-semibold w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#e27231] after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-200 after:origin-center;
}

@utility heading {
  @apply text-center text-[#e84624] text-[1.7rem] sm:text-[2rem] md:text-[2.4rem] uppercase font-bold;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #7e7e7e;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e84624;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e27231;
  }